<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<i class="fa-solid fa-address-book fa-2xl fa-beat" style="color: green"></i>
<i class="fa-brands fa-amazon fa-fade fa-rotate-by" style="--fa-rotate-angle: 37deg;"></i>
<i class="fa-regular fa-bell fa-rotate-90"></i>
<i class="fa-solid fa-sync fa-spin"></i>

<hr>

<code>
  ./bin/importmap pin @fortawesome/fontawesome-free
</code>